<html ng-app="store">
<head>
	<title>AngularJs unit 1.1</title>
	<link rel="stylesheet" href="vendor/twitter/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="app.css">
</head>
<body class="list-group ng-scope" ng-controller="StoreController as store">
	<p>Number {{1 + 7}}</p>
	<p>My name is {{"Vlad" + "Shish"}}</p>

	<div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
		<div ng-hide="product.soldOut">
			<h3 product-title></h3>
			<!-- <h3 ng-include="'product-title.html'"></h3> -->
			<p>{{1433062439000 | date:'MM/dd/yyyy @h:mma'}}</p>

			<div class="gallery">
				<div class="img-wrap">
					<img ng-src="{{product.images[0]}}">	
				</div>
				<ul>
					<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
						<img ng-src="{{image}}">	
					</li>
				</ul>
			</div>

			<br/><br/><br/><br/>

			<section ng-controller="PenalController as penal">
				<ul class="nav nav-pills">
					<li ng-class="{ active:penal.isSelected(1) }">
						<a href ng-click="penal.setTab(1)">Description</a>
					</li>
					<li ng-class="{ active:penal.isSelected(2) }">
						<a href ng-click="penal.setTab(2)">Specefication</a>
					</li>
					<li ng-class="{ active:penal.isSelected(3)}">
						<a href ng-click="penal.setTab(3)">Reviews</a>
					</li>
				</ul>
				<div class="panel" ng-show="penal.isSelected(1)">
					<h4>Description</h4>
					<p>{{product.description | limitTo:200}}</p>
				</div>
				<div class="panel" ng-show="penal.isSelected(2)">
					<h4>Specefication</h4>
					<blockquote>Not yet</blockquote>
				</div>
				<div class="panel" ng-show="penal.isSelected(3)">
					<h4>Reviews</h4>
					<blockquote ng-repeat="review in product.reviews">
						<strong>Stars: {{review.stars}}</strong>
						{{review.body}}
						<cite class="clearfix">By: {{review.author}}</cite>
					</blockquote>

					<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
						<blockquote>
							<strong>Stars: {{reviewCtrl.review.stars}}</strong>
							{{reviewCtrl.review.body}}
							<cite class="clearfix">By: {{reviewCtrl.review.author}}</cite>
						</blockquote>
						<fieldset class="form-group">
							<select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" ng-model="reviewCtrl.review.stars" required>
							</select>
						</fieldset>
						<fieldset class="form-group">
							<textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body" required></textarea>
						</fieldset>
						<fieldset class="form-group">
							<input type="email"  class="form-control" placeholder="Email" title="Email" ng-model="reviewCtrl.review.author"  required/>
						</fieldset>
						<fieldset class="form-group">
							<input type="submit" class="btn btn-primary pull-right" value="Submit" />
						</fieldset>
					</form>
				</div>
			</section>
			<button ng-show="product.canPurchase">Add to cart</button>
		</div>
	</div>
	<script type="text/javascript" src="vendor/components/angular.js/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>